body {
  background-color: #3a3a3a;
}
main {
  width: 60%;
  margin: 5% auto;

  h1 {
    font-size: 3.5rem;
  }
}
form {
  div.taskHolder {
    font-size: 2rem;
    input {
    }
    label {
    }
    div {
    }
  }
}

div#buttonHolder {
  div#viewOptions {
    button {
      padding: 1rem 2.5rem;
    }
    button.selected {
    }
  }
}
div#inputHolder {
  input {
    width: 89.5%;
  }
  button {
  }
  button:hover,
  button:active {
  }
}
