body {
}
div#contentWrap {
  min-height: 92.5vh;
  // background-color: red;
  padding-bottom: 10vh;
}
main {
  border: 8px solid #4c96d7;
}

header {
  // span {
  //   font-size: 2rem;
  // }
  a#imgLink {
    width: 20%;
    img {
      width: 100%;
    }
  }
  div#loggedInSettings {
    display: flex;
    align-items: center;
    width: max-content;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    a:link,
    a:visited,
    a:active {
      color: #3a3a3a;
      text-decoration: none;
      width: max-content;
      font-size: 1.5rem;
    }
    a:hover {
      color: #4c96d7;
    }
  }
}

nav {
  font-size: 1rem;
  ul {
    li {
      a {
      }
      a:hover {
      }
    }
  }
}

div#mainContent {
  h1 {
    font-size: 2.5rem;
  }
  p {
  }
  div#hero {
    padding-bottom: 2.5rem;
    img {
    }
    #comment {
      h3 {
        margin: 0.5rem 0;
        font-size: 1.75rem;
      }
      ul {
        li {
          font-size: 1.15rem;
        }
      }
    }
    button {
      top: 20%;
      left: 2.5%;
      font-size: 1.75rem;
      line-height: 3rem;
      padding: 0 1.5rem;
    }
  }

  div#inputHolder {
    p {
      font-size: 1rem;
      margin: 5% 0;
    }
    form {
      fieldset {
        legend {
        }
        label {
          font-size: 1.5rem;
        }
        input {
          font-size: 1.25rem;
          line-height: 2.5rem;
        }
        div.buttonHolder {
          a,
          button.formBtn,
          button.formBtn {
            font-size: 1.5rem;
            width: 102%;
            margin: 2.5% auto;
            line-height: 5rem;
          }
          a:hover,
          button.formBtn:hover,
          button.formBtn:hover {
            background-color: #3a3a3a;
          }
        }
      }
    }
  }

  img#delorean {
  }

  div#contentHolder {
    display: flex;
    flex-direction: row-reverse;
    section#reviews {
      h2 {
        font-size: 2.5rem;
      }
      ul {
        padding: 0 0 0 10px;
        li {
          margin: 0 0 2rem 0;
          font-size: 1.25rem;
        }
      }
    }
    section#upgrades {
      h2 {
        font-size: 2.5rem;
        padding-left: 5%;
      }
      ul {
        li {
          a {
            div.upgradeHolder {
              img {
                width: 30%;
              }
            }
            p {
              font-size: 1.25rem;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }
  div.resultCard {
    a {
      margin: 2.5rem auto;
      img {
        width: 400px;
        height: 100%;
        align-self: center;
        justify-self: center;
        // border: 5px solid red;
        margin: 0 auto 0 auto;
      }
      div.resultInfo {
        width: 60%;
        margin: 0 auto 0 0;
        h3,
        h4 {
          margin: 0.25rem auto;
          color: blue;
          font-size: 2rem;
        }
        h3 {
          font-size: 2.5rem;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    a:hover {
      div.resultInfo > p {
        color: black;
        text-shadow: none;
      }
    }
    a:visited {
      div.resultInfo {
        h3,
        h4 {
          color: rgb(127, 0, 153);
        }
      }
    }
  }
  div#pagNav_bar {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    a {
      margin: 0 0.5rem;
    }
    a#current {
      text-decoration: underline;
    }
  }
}

ul#inv-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 2.5%;
  flex-wrap: wrap;
  li {
    width: 22.5%;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
    img {
      width: 100%;
    }
    span {
    }
  }
}

div#vehicDescriptContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  img {
    order: 2;
    width: 47.5%;
    margin-left: 0%;
    // height: 100%;
    object-fit: scale-down;
  }
  div#vehicInfo {
    order: 3;
    background-color: #dadada99;
    width: 30%;
    padding: 2.5%;
    margin: 2.5%;
    p:nth-of-type(3) {
      // color: red;
      font-weight: bold;
    }
  }
  div#thumbnail_list {
    order: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 10%;
    margin: 2.5% 0 2.5% 2.5%;
    margin-left: 2.5%;
    // justify-content: center;
    height: 290px;
    overflow-y: auto;
    img {
      width: 75%;
      margin: 0 auto;
    }
    img:hover {
      // border: 1px solid red;
      transform: scale(2);
    }
  }
}

footer {
  font-size: 1rem;
  height: 10vh;
  p {
  }
}
