body {
  background-color: orange;
}
main {
  display: block;
}

h1,
h2 {
  font-size: 2rem;
}

input,
label,
button {
  font-size: 1.5rem;
}

p {
  display: inline;
  font-size: 1.5rem;
}
img {
  display: flex;
  width: 40%;
  display: absolute;
  position: fixed;
  z-index: 2;
  bottom: 25%;
  right: 0%;
}
