body {
  background-image: url('/FinalProject/img/wallPaper_mobile.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

img#logo {
  width: 25%;
}
